.btn {
    display: inline-block;
    margin: 0 auto;
    padding: 1.3rem 3.3rem;
    transition: background-color .1s ease-out;
    border-radius: .3rem;
    font-weight: 700;
    font-size: .85rem;
    cursor: pointer;
}

.btn--primary {
    background-color: #212121;
    &:hover {
        background-color: #333;
    }
}

.btn--secondary {
    background-color: transparent;
    border: #fff .125rem solid;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #212121;
    }
}
