@import '../variables';

.link {
    transition-duration: .2s;
    transition-property: color, fill;
    fill: #fff;

    &:hover {
        color: $secondary-color;
        fill: $secondary-color;
    }

    &:focus {
        color: $darkest-color;
        fill: $darkest-color;
    }
}
