@import '../variables';

.link {
    transition-duration: .2s;
    transition-property: color, fill;
    fill: #fff;
    cursor: pointer;

    &:hover {
        color: $secondary-color;
        fill: $secondary-color;
    }

    &:focus {
        color: #1b1b1b;
        fill: #1b1b1b;
    }
}
