@import './variables';

body {
    background-color: $primary-color;
}

.body-wrapper {
    padding: .5rem 0;
    scroll-behavior: smooth;// Firefox 49+, Experimental Feature in Chrome 41+
    -webkit-overflow-scrolling: touch;// lazy scrolling in webkit

    #fullpage-nav-toggler:checked ~ & {
        display: none;
    }
}

.section {
    margin: 0 auto;
    max-width: 61.5rem;
    width: calc(100% - 3rem);

    &--1 {

    }

    &--2 {

    }
}

.meet-our-people-link {
    display: block;
    background: url('../imgs/home-team.jpg') no-repeat 50% 10%;
    background-size: 190%;
    padding: 10rem 0;
    width: 100%;
    height: 10rem;
    text-align: center;
    will-change: background-size;
    transition: background-size .2s ease-out;

    &:hover {
        background-size: 220%;
    }
}

.hidden {
    display: none;
}

.project {

    &--laptop {

    }

    &--portrait-mobile {

    }

    &--skewed-mobile {

    }
}

.device {

    &--laptop {
        transform: translate(-15%, 0) scale(1.3);
    }

    &--portrait-mobile {
        width: auto;
        margin: 0 auto;
        background: url('../imgs/home-video-poster.png') center no-repeat;
        background-size: 65%;
        background-position: center 54%;

        video {
            transform: scale(.5);
        }
    }

    &--skewed-mobile {

    }
}

@media (min-width: 32rem) {
    .section {
        text-align: left;
    }

    .section.section1 {
        text-align: center;
    }

    .meet-our-people-link {
        display: block;
        background: url('../imgs/home-team.jpg') no-repeat 50% 10%;
        background-size: 190%;
        padding: 10rem 0;
        width: 100%;
        height: 10rem;
        text-align: center;
        will-change: background-size;
        transition: background-size .2s ease-out;

        &:hover {
            background-size: 220%;
        }
    }

    .project {
        display: flex;
        flexf-flow: row wrap;

        &--laptop {

        }

        &--portrait-mobile {

        }

        &--skewed-mobile {

        }
    }

    .device {

        &--laptop {
            transform: translate(-15%, 0) scale(1.5);
            width: 100%;
        }
    }
}

@media (min-width: 64rem) {
    .meet-our-people-link {
        background-size: 100%;
        padding: 15rem 0;
        // height: 10rem;

        &:hover {
            background-size: 110%;
        }
    }
}
